<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitHubSetWorkoutTracker"
        tools:targetApi="31">
        <activity
            android:name=".MainPage"
            android:exported="false" />
        <activity
            android:name=".LoginForm"
            android:exported="false" />
        <activity
            android:name=".SignUpForm"
            android:exported="false" />
        <activity
            android:name=".SplashScreenForm"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.fithub_set_workout_tracker.sets_tracker.AddExercise"
            android:exported="true" />
        <activity android:name="com.example.fithub_set_workout_tracker.sets_tracker.SelectWorkout"
            android:exported="true" />
        <activity android:name="com.example.fithub_set_workout_tracker.sets_tracker.Abs" />
        <activity android:name="com.example.fithub_set_workout_tracker.sets_tracker.Back" />
        <activity android:name="com.example.fithub_set_workout_tracker.sets_tracker.Biceps" />
        <activity android:name="com.example.fithub_set_workout_tracker.sets_tracker.Chest" />
        <activity android:name="com.example.fithub_set_workout_tracker.sets_tracker.Legs" />
        <activity android:name="com.example.fithub_set_workout_tracker.sets_tracker.Shoulders" />
        <activity android:name="com.example.fithub_set_workout_tracker.sets_tracker.Triceps" />
    </application>

</manifest>